kg_configs:
  default:
    subgraphs_factories:
    - genai_graph.ekg.schema.rainbow_review:ReviewedOpportunitySubgraph
    - genai_graph.ekg.schema.architecture_doc:ArchitectureDocumentSubgraph
    # - genai_graph.ekg.schema.another_schema:AnotherSubgraphFactory 
        # db: sqlite:///path/to/another_database.db         
    content:
      - ReviewedOpportunity:
          keys: [rainbow-cnes-venus-tma, rainbow-fake-cnes-1]
      - ArchitectureDocument:
          keys: [add-fake-cnes-1]
    agent:
      mcp_servers:
        - filesystem    

  simple:
    subgraphs:
    - genai_graph.ekg.schema.rainbow_review:ReviewedOpportunitySubgraph
    content:
      - ReviewedOpportunity:
          keys: [rainbow-cnes-venus-tma]
