
default_kg_config: ${oc.env:KG_CONFIG,db_only}
default_kg_tag: ${oc.env:KG_CONFIG_TAG,dev}
schemas_root: genai_graph.ekg.schema

kg_configs:
  test1:
    subgraphs:
      - factory: genai_graph.ekg.schema.rainbow_review:ReviewedOpportunitySubgraph
        initial_load: [rainbow-cnes-venus-tma, rainbow-fake-cnes-1]
      - factory: genai_graph.ekg.schema.architecture_doc:ArchitectureDocumentSubgraph
        initial_load: [add-fake-cnes-1]
    agent:
      mcp_servers:
        - filesystem    

  simple:
    subgraphs:
      - factory: genai_graph.ekg.schema.rainbow_review:ReviewedOpportunitySubgraph
        initial_load: [rainbow-cnes-venus-tma]


  db_only:
    subgraphs:
      # - factory: genai_graph.ekg.schema.rainbow_review:ReviewedOpportunitySubgraph
      #   initial_load: [rainbow-cnes-venus-tma]
      - factory: ${schemas_root}.crm_export:CrmExtractSubGraph
        db_dsn: sqlite:///${paths.data_root}/ekg/crm_extract.db
        files:
          - ${paths.ekg_data}/misc/report1750429630460_SHORTEN.xlsx
        pd_read_parameters: {} 

  simple_with_db:
    subgraphs:
      - factory: ${schemas_root}.rainbow_review:ReviewedOpportunitySubgraph
        initial_load: [rainbow-cnes-venus-tma]
      - factory: ${schemas_root}.crm_export:CrmExtractSubGraph
        db_dsn: sqlite:///${paths.data_root}/ekg/crm_extract.db
        files:
          - ${paths.ekg_data}/misc/report1750429630460_SHORTEN.xlsx
        pd_read_parameters: {}         
        pull: 
          merge_on: Opportunity.opportunity_id
          db_field: "Atos Opportunity ID" 

  test1_with_db:
    subgraphs:
      - factory: genai_graph.ekg.schema.rainbow_review:ReviewedOpportunitySubgraph
        initial_load: [rainbow-cnes-venus-tma, rainbow-fake-cnes-1]
      - factory: genai_graph.ekg.schema.architecture_doc:ArchitectureDocumentSubgraph
        initial_load: [add-fake-cnes-1]
      - factory: ${schemas_root}.crm_export:CrmExtractSubGraph
        db_dsn: sqlite:///${paths.data_root}/ekg/crm_extract.db
        files:
          - ${paths.ekg_data}/misc/report1750429630460_SHORTEN.xlsx
        pd_read_parameters: {}         
        pull: 
          merge_on: Opportunity.opportunity_id
          db_field: "Atos Opportunity ID" 
    agent:
      mcp_servers:
        - filesystem
